<h1>Wypożyczenia</h1>

<table>
  <thead>
    <tr>
      <th>Car</th>
      <th>Person</th>
    </tr>
  </thead>
  <tbody>
    <% @rents.each do |rent| %>
      <tr>
        <td><%= rent.car.id %></td>
        <td><%= rent.client.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

