<h1>Rented Cars</h1><br />
<table class="table table table-striped">
  <tr>
    <th>Id</th>
    <th>Client Name</th>
    <th>Client Surname</th>
    <th>Car Brand</th>
    <th>Car Model</th>
  </tr>
  <tr>
  <td>1</td>
    <td>Jan</td>
    <td>Nowak</td>
    <td>Fiat</td>
    <td>500</td>
  </tr>
  <tr>
  	<td>2</td>
    <td>Kuba</td>
    <td>Nowak</td>
    <td>Audi</td>
    <td>A5</td>
  </tr>
    <tr>
    <td>3</td>
    <td>Piotr</td>
    <td>Nowakakowski</td>
    <td>BMW</td>
    <td>M5</td>
  </tr>
    <tr>
    <td>4</td>
    <td>Zbyszek</td>
    <td>Zbyszkowski</td>
    <td>Audi</td>
    <td>A3</td>
  </tr>
</table>
