<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <table class="table table table-striped">
    <thead>
      <tr>
        <th>BRAND</th>
        <th>MODEL</th>
        <th>AVAILABILITY</th>
      </tr>
    </thead>
    <tbody>
      <% @cars.each do |car| %>
      <tr>
        <td><%= car.model.brand.brand_name %></td>
        <td><%= car.model.model_name %></td>
        <td>
            <% if (car.state == 'rented') %>
              RENTED
            <% elsif (car.state == 'serviced') %>
              IN MAINTENANCE
            <% else %>
              AVAILABLE
            <% end %>
        </td>
        <% end %>
      </tr>
    </tbody>
</body>
</html>
